{% extends 'root.html' %}


{% block title %}
    Question's list
{% endblock %}

{% block content %}
    <div>
        <div style="border-bottom: 1px solid grey; display: flex; padding: 1rem 0;">
            <div style="display: inline-grid; margin: 0 1rem">
                <form action="{% url 'question_vote' %}" method="post">
                    {% csrf_token %}
                    <input name="question_id" value="{{question_id}}" style="display:none"/>
                    <input name="current_path" value="1" style="display:none"/>
                    <div style="display: inline-grid; margin: 0 1rem">
                        {% if user.is_authenticated %}
                            <button class="btn btn-outline-secondary" type="submit" name="btn_func" value="q_increment">˄</button>
                        {% endif %}
                        <span style="border:1px solid black; padding:0.6rem; margin: 0.2rem 0">{{ question_votes_count }}</span>
                        {% if user.is_authenticated %}
                            <button class="btn btn-outline-secondary" type="submit" name="btn_func" value="q_decrement">˅</button>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div style="margin: 0 8px">
                <h3> {{question_title}}</h3>
                <p>{{question_body}}</p>
                <p>
                    {% for tag in question_tags.all %}
                        <span style="border-radius: 4px; background-color: lightblue; padding: 4px 8px">{{tag.name}}</span> &nbsp
                    {% endfor %}
                    <span>{{question_username}}</span>
                    <img class="user_avatar" style="background-image: url('{%url 'get_user_image' pk=question_user_id %}');"/>
                </p>
            </div>
        </div>
        {% for answer in answers %}
            <div style="border-bottom: 1px solid grey; display: flex; padding: 1rem 0;">
                <form action="{% url 'answer_vote' %}" method="post">
                    {% csrf_token %}
                    <input name="answer_id" value="{{ answer.id }}" style="display:none"/>
                    <input name="question_id" value="{{question_id}}" style="display:none"/>
                    <input name="current_path" value="1" style="display:none"/>
                    <div style="display: inline-grid; margin: 0 1rem">
                        {% if user.is_authenticated %}
                            <button class="btn btn-outline-secondary" type="submit" name="btn_func" value="a_increment">˄</button>
                        {% endif %}
                        <span style="border:1px solid black; padding:0.6rem; margin: 0.2rem 0.2rem">{{ answer.votes_count }}</span>
                        {% if user.is_authenticated %}
                        <button class="btn btn-outline-secondary" type="submit" name="btn_func" value="a_decrement">˅</button>
                        {% endif %}
                        {% if answer.is_correct == True %}
                            <button class="btn btn-outline-secondary" type="submit" name="btn_func" value="unset_correct" {% if user.is_authenticated != True %}disabled{% endif %}>★</button>
                        {% else %}
                            {% if user.is_authenticated %}
                                <button class="btn btn-outline-secondary" type="submit" name="btn_func" value="set_correct">☆</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </form>
                <p>{{answer.body}}</p>
                <img class="user_avatar" style="background-image: url('{%url 'get_user_image' pk=answer.user.id %}');"/>
                <p>{{answer.user.username}}</p>
            </div>
        {% endfor %}
        <form action="{% url 'question_detail' question_id=question_id %}" method="post">
        {% csrf_token %}
            {% if user.is_authenticated %}
                <p style="margin: 8px 0">
                    <label for="Text">Your answer</label>
                    <textarea name="body" id="Text"></textarea>
                </p>
                <input name="user_id" value="{{user_id}}" style="display:none"/>
                <input name="question_id" value="{{question_id}}" style="display:none"/>
                <button class="btn btn-success" type="submit">Send</button>
            {% endif %}
        </form>
    </div>
    <script>
        setTimeout(function(){
            document.querySelectorAll("input[name=current_path]").forEach(inp => inp.value = window.location.pathname);
        }, 10)
    </script>
{% endblock %}