{% extends 'root.html' %}

{% block content %}

    <form action="{% url 'ask' %}" method="post">

    {% csrf_token %}
        <input name="user_id" value="{{user_id}}" style="display:none"/>
        <p>
            <label for="Title">Title</label>
            <input name="title" id="Title"/>
        </p>
        <p>
            <label for="Text">Text</label>
            <textarea name="body" id="Text"></textarea>
        </p>
        <p>
            <label for="search_tag">Tags</label>
            <input id="search_tag" name="tags_str" type="search"/>
        </p>
        <script>
          $(function() {
            $("#search_tag").autocomplete({
              source: "{% url 'search_tags' %}",
              minLength: 1,
            });
          });
        </script>
        <p>Only first 3 tags will be saved</p>

        <button class="btn btn-success" type="submit">Ask</button>
    </form>
{% endblock %}